<form>
        <div style=" margin:30px 30px 30px 80px;background:url('/assets/car.jpg');background-repeat: no-repeat;background-size: cover">
            <h2>User Dash board</h2>
            <div id="d1"  style=" margin:30px 30px 30px 33px;">
              <a   routerLink="bookingwash"> <button>booking for searching</button></a>
            </div>
            <div id="d1"  style=" margin:30px 30px 30px 33px">
                    <button routerLink="viewhistory">view older history</button>
                </div> 
                <div id="d1"  style=" margin:30px 30px 30px 33px;">
                        <button routerLink="editprofile">Edit Profile</button>
                    </div>
                    <div id="d1"  style=" margin:30px 30px 30px 33px">
                            <button routerLink="changepassword">change password</button>
                        </div>   
                 <div id="d2">
                     <button>Logout</button>
                 </div>   
               
        
    </div>
    </form>
    
